<div class="page-container">

  <!-- 📝 Formulário de Cadastro -->
  <div class="form-container">
    <h2>Cadastro de Novo Usuário</h2>

    <form (ngSubmit)="salvarCadastro()" class="form-grid">
      <div class="form-group">
        <label>Nome:</label>
        <input type="text" [(ngModel)]="cadastro.nome" name="nome" required>
      </div>

      <div class="form-group">
        <label>CPF:</label>
        <input type="text" [(ngModel)]="cadastro.cpf" name="cpf" required>
      </div>

      <div class="form-group">
        <label>RG:</label>
        <input type="text" [(ngModel)]="cadastro.rg" name="rg" required>
      </div>

      <div class="form-group">
        <label>Telefone:</label>
        <input type="text" [(ngModel)]="cadastro.telefone" name="telefone" required>
      </div>

      <div class="form-group">
        <label>Rua:</label>
        <input type="text" [(ngModel)]="cadastro.rua" name="rua" required>
      </div>

      <div class="form-group">
        <label>Número:</label>
        <input type="text" [(ngModel)]="cadastro.numero" name="numero" required>
      </div>

      <div class="form-group">
        <label>Complemento:</label>
        <input type="text" [(ngModel)]="cadastro.complemento" name="complemento">
      </div>

      <div class="form-group">
        <label>Bairro:</label>
        <input type="text" [(ngModel)]="cadastro.bairro" name="bairro" required>
      </div>

      <div class="form-group">
        <label>CEP:</label>
        <input type="text" [(ngModel)]="cadastro.cep" name="cep" required>
      </div>

      <div class="form-group">
        <label>Cidade:</label>
        <input type="text" [(ngModel)]="cadastro.cidade" name="cidade" required>
      </div>

      <div class="form-group">
        <label>UF:</label>
        <input type="text" [(ngModel)]="cadastro.uf" name="uf" required>
      </div>

      <div class="form-group">
        <label>Email:</label>
        <input type="email" [(ngModel)]="cadastro.email" name="email" required>
      </div>

        <div class="form-group">
        <label>Senha:</label>
        <input type="email" [(ngModel)]="cadastro.senha" name="senha" required>
      </div>

      <div class="form-actions">
        <button type="submit">Cadastrar</button>
      </div>
    </form>

    <p class="mensagem">{{ mensagemErro }}</p>
  </div>
